<p id="notice"><%= notice %></p>

<h1>Jobposts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobposts.each do |jobpost| %>
      <tr>
        <td><%= jobpost.title %></td>
        <td><%= jobpost.description %></td>
        <td><%= jobpost.type %></td>
        <td><%= link_to 'Show', jobpost %></td>
        <td><%= link_to 'Edit', edit_jobpost_path(jobpost) %></td>
        <td><%= link_to 'Destroy', jobpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobpost', new_jobpost_path %>
